<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{stripePublishableKey}}"
    data-amount="2500"
    data-name="Web Development Ebook"
    data-description="Ebook written by Brad Traversy"
    data-locale="auto">
  </script>
</form>
