<!--Index Page header-->
<div class="index-page-section">
  <h1> San Jose Nihonmachi Outreach Committee</h1>
  <h2> Payment Gateway Beta </h2>
  <a href="test"><button class="btn btn-primary" id="donate-button">Donate</button></a>
</div>
