    <!--Index Page header-->
    <div class="index-page-section">
      <h1>Thank you for your donation.</h1>
      <h4> Thank you for your generous donation to SJNOC. <b> Your receipt will be mailed to the email address you provided. </h3 >
      <a href="/"><button class="btn btn-primary" id="donate-button">Go Back</button></a>
    </div>
