<!--HEADER STUFF-->
<div class="checkout-section">
<form id="checkout-form">

         <script>
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>

        <h3> Enter an amount to donate </h3>

        <hr>

        <!--Test CUSTOM AMOUNT -->
        <div class="error alert alert-danger" id="err-invalid-number" role="alert">
          Error: The amount you inputted is not a valid number, please type in a valid number and try again.
        </div>

        <div class="error alert alert-danger" id="err-large-number" role="alert">
          Error: The amount you inputted is too large. We are currently only accepting donations over $50.
        </div>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="custom-donation-amount" class="col-md-3 form-control form-control-lg" type="number" placeholder="10.00" min="0" max="50.00" step="5.00"/>
        </div>

        <br>
        <input type= "hidden" id="stripeToken" type=""/>
        <br>
        <input type= "hidden" id="stripeAmount" type=""/>

        <!-- <button id="PurchaseButton" type="submit"> Purchase </button> -->

        <!--Button to Donate-->
        <button class="btn btn-primary" type="submit" id="PurchaseButton">Donate</button>

        <script>

        //configuring the checkout library -- NEW METHOD

            var button = document.getElementById('PurchaseButton');

            //button handler and event listener that will open checkout
            button.addEventListener('click', function(ev) {
              ev.preventDefault();

                var amount = $("input#custom-donation-amount").val() * 100;


              //if user does not input a number, then return an error....
              if (isNaN(amount) || amount <= 0 ) {
                console.log('error, not an integer');
                $('#err-invalid-number').fadeIn();
                $('#err-large-number').hide();
              }
              else if (amount > 10000) {
                console.log('too large');
                $('#err-invalid-number').hide();
                $('#err-large-number').fadeIn();
              }
              else {
                console.log('number is okay, opening handler');
              //if not then open the checkout menu
              checkoutHandler.open({
                name: "SJNOC Donation",
                description: "Donation to the SJNOC organization",
                amount: amount
            })

            $('input#stripeAmount').val(amount);
           }
          });

            //configure handler
            var checkoutHandler = StripeCheckout.configure({
              key: '{{ stripePublishableKey }}',
              locale: "auto",
              token: function(token, args) {
                //sends body to server-side backend.... (req.body.id)
                var amount = $("input#custom-donation-amount").val() * 100;
                console.log(token);

                    $('input#stripeToken').val(token.id);
                      $.ajax({
                        url: '/charge',
                        type: 'POST',
                        data: { tokenid: token.id,
                                email: token.email,
                                tokenAmt: amount
                              },
                        success: function(response){
                          console.log('form submitted.');
                          window.location.href = '/success'; //redirect to success page
                    }
                  });
              }
            });

          //closes Checkout on page navigation

          $(window).on('popstate', function() {
            handler.close();
          });

        </script>
</form>
</div>
