<!--HEADER STUFF-->
<div class="checkout-section">
<form id="checkout-form">

         <script>
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>

        <h3> Enter an amount to donate </h3>

        <hr>

        <!--Test CUSTOM AMOUNT -->
        <div class="error alert alert-danger" id="err-invalid-number" role="alert">
          Error: The amount you inputted is not a valid number, please type in a valid number and try again.
        </div>

        <div class="error alert alert-danger" id="err-large-number" role="alert">
          Error: The amount you inputted is too large. We are currently only accepting donations over $50.
        </div>

        <div class="container">
        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button value="500" class="btn btn-primary btn-donation-option">$5</button>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button value="1000" class="btn btn-primary btn-donation-option">$10</button>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button value="1500" class="btn btn-primary btn-donation-option">$15</button>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button value="2000" class="btn btn-primary btn-donation-option">$20</button>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button value="2500" class="btn btn-primary btn-donation-option">$25</button>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-6 option-selection">
            <button class="btn btn-primary btn-donation-option" id="other-button">Other</button>
          </div>

        </div>

      </div>


        <!--custom donation amount form-->
        <label class="donation-label" for="colFormLabel">Your donation amount:</label>

        <div class="input-group input-group-lg" id="custom-amount-section">
          <!-- <div class="input-group-prepend"> -->
             <span class="input-group-addon">$</span>
           <!-- </div> -->
            <input type="number" id="custom-donation-amount" class="form-control" placeholder="0.00" min="0" max="50.00" step="5.00"/>
            <!-- <div class="col-sm-3 error-message"> -->
              <!-- <span class="text-danger">
                Must be 8-20 characters long.
              </span> -->
            <!-- </div> -->
        </div>

        <br>
        <input type="hidden" id="stripeToken" type=""/>
        <br>
        <input type="hidden" id="stripeAmount" type=""/>

        <!-- <button id="PurchaseButton" type="submit"> Purchase </button> -->

        <!--Button to Donate-->

        <button class="btn btn-primary" type="submit" id="PurchaseButton">Donate</button>

        <script>

        //script to prevent default action when clicking on a button
        var donationoption = document.getElementsByClassName('btn-donation-form');

        $('.btn-donation-option').on('click', function(ev){
            var amount = $(this).attr('value');
            var newAmount = amount * 0.01;
            console.log(newAmount + '.' + 0);
            $('input#custom-donation-amount').val(newAmount);
            ev.preventDefault();
        });

        //when clicking on the Other button, highlight the custom amount field
        $('#other-button').on('click', function(ev){

          document.getElementById("custom-donation-amount").focus();

          ev.preventDefault();
        });

        //configuring the checkout library -- NEW METHOD

            var Purchasebutton = document.getElementById('PurchaseButton');

            //button handler and event listener that will open checkout
            Purchasebutton.addEventListener('click', function(ev) {
              ev.preventDefault();

                var amount = $("input#custom-donation-amount").val() * 100;

                $('input#stripeAmount').val(amount); //upon opening checkout popup, add the amount to the invisible stripeamount input section


              //if user does not input a number, then return an error....
              if (isNaN(amount) || amount <= 0 ) {
                console.log('error, not an integer');
                $('#err-invalid-number').fadeIn();
                $('#err-large-number').hide();
              }
              else if (amount > 10000) { //5000
                console.log('too large');
                $('#err-invalid-number').hide();
                $('#err-large-number').fadeIn();
              }
              else {
                console.log('number is okay, opening handler');
              //if not then open the checkout menu
              checkoutHandler.open({
                name: "SJNOC Donation",
                description: "Donation to the SJNOC organization",
                amount: amount
            })
           }
          });

            //configure handler
            var checkoutHandler = StripeCheckout.configure({
              key: '{{ stripePublishableKey }}',
              locale: "auto",
              token: function(token, args) {
                //sends body to server-side backend.... (req.body.id)
                var amount = $("input#custom-donation-amount").val() * 100;
                console.log(token);

                    $('input#stripeToken').val(token.id); //inputs tokenid in an invisible field on the form

                    //sends an asynchronous request to the backend so the user can still can communicate with the webpage while it communicates with the db
                      $.ajax({
                        url: '/charge',
                        type: 'POST',
                        data: { tokenid: token.id,
                                email: token.email,
                                tokenAmt: amount
                              },
                        success: function(response){
                          console.log('form submitted.');
                          window.location.href = '/success'; //redirect to success page
                    }
                  });
              }
            });

          //closes Checkout on page navigation

          $(window).on('popstate', function() {
            handler.close();
          });

        </script>
</form>
</div>
