<aside>
<logo>
  <img src="static/images/NOC_logo3.jpg" alt="sjnoc logo">
</logo>
<ul>
  <li class="aside-list">About</li>
  <li class="aside-list">Newsletter</li>
  <li class="aside-list">Donate</li>
</ul>
</aside>
<div id="inner-flex-container">
    <!-- <header>header</header> -->
    <section>section</section>
    <footer>footer</footer>
</div>
