<!--HEADER STUFF-->
<form id="checkout-form">

         <script>
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>

        <!--Test CUSTOM AMOUNT -->
        <input id="custom-donation-amount" class="form-control" type="number" placeholder="10.00" min="0" max="50.00" step="5.00"/>
        <br>
        <input id="stripeToken" type=""/>
        <br>
        <input id="stripeAmount" type=""/>

        <!-- <button id="PurchaseButton" type="submit"> Purchase </button> -->

        <!--Button to Donate-->
        <button type="submit" id="PurchaseButton">Checkout</button>

        <script>



        //configuring the checkout library -- NEW METHOD

            var button = document.getElementById('PurchaseButton');

            //button handler and event listener that will open checkout
            button.addEventListener('click', function(ev) {
              ev.preventDefault();

                var amount = $("input#custom-donation-amount").val() * 100;


              //if user does not input a number, then return an error....
              if (isNaN(amount)) {
                console.log('error, not an integer');
              }
              else {
              //if not then open the checkout menu
              checkoutHandler.open({
                name: "Sample Store",
                description: "Example Purchase",
                amount: amount
            })
            $('input#stripeAmount').val(amount);
           }
          });

            //configure handler
            var checkoutHandler = StripeCheckout.configure({
              key: '{{ stripePublishableKey }}',
              locale: "auto",
              token: function(token, args) {
                //sends body to server-side backend.... (req.body.id)
                var amount = $("input#custom-donation-amount").val() * 100;
                console.log(token);

                    $('input#stripeToken').val(token.id);
                      $.ajax({
                        url: '/charge',
                        type: 'POST',
                        // data : $('#checkout-form').serialize(),
                        data: { tokenid: token.id,
                                email: token.email,
                                tokenAmt: amount
                              },
                        success: function(response){
                          console.log('form submitted.');
                          window.location.href = '/success';
                    }
                  });
              }
            });


          //closes Checkout on page navigation

          $(window).on('popstate', function() {
            handler.close();
          });

        </script>
</form>
