/* body {
	background-image: url(../images/background-tile.gif);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
} */

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	min-height: 100%;
	background-color: #961926;
}

#inner-flex-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 150px);
}

aside {
	flex: 1 150px;
	background: white;
}

header  {
	flex: 1; background: tomato;
}

section {
	flex: 5;
	background: deepskyblue;
}

footer  { flex: 1; background: lightgreen; }




/* .auto-style59 {
	background-color: #660000;
}
.auto-style60 {
	border-style: solid;
	border-color: #660000;
	background-color: #660000;
}
.auto-style63 {
	background-color: #FFFFCC;
}
.auto-style64 {
	background-color: #800000;
}
.auto-style70 {
	background-color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style72 {
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style79 {
	text-align: center;
}
.auto-style3 {
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style81 {
	font-family: "Palatino Linotype";
	font-size: large;
	color: #FFFFFF;
}
.auto-style82 {
	text-align: center;
	background-color: #000000;
}
.auto-style83 {
	text-align: left;
}
.auto-style75 {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
}
.auto-style84 {
	text-align: left;
	font-size: x-small;
}
.auto-style85 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}
.auto-style86 {
	border-width: 0px;
}
.auto-style87 {
	text-align: left;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style88 {
	text-align: left;
	font-size: medium;
}
.auto-style89 {
	background-color: #800000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #C0C0C0;
}
.auto-style91 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #800000;
	font-weight: bold;
}
.auto-style92 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.headliner, .donation-pp {
	color: white; */
}
